Django==5.2.5
gunicorn==23.0.0
whitenoise==6.6.0
psycopg2==2.9.10
pillow==11.3.0
mutagen==1.47.0
yt-dlp==2024.8.6
syncedlyrics==1.0.1
requests==2.32.3
urllib3==2.2.2
charset-normalizer==3.3.2
idna==3.7
certifi==2024.7.4
sqlparse==0.5.3
tzdata==2025.2
typing_extensions==4.14.1
six==1.17.0
cloudinary==1.44.1