{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Get Lyrics</title>
    <link rel="stylesheet" href="{% static 'AddSongLyrics.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">

</head>
<body>
     <div class="header">
  <div class="header-inner">
    <img src="{% static 'images/logo.png' %}" alt="Your Logo">
    <button class="hamburger" id="hamburger">
      <span></span><span></span><span></span>
    </button>

    <nav class="nav-menu" id="navMenu">
      <a href="{% url 'music:index' %}">Home</a>
      <a href="{% url 'music:song_list' %}">All Songs</a>
      <a href="{% url 'music:add_song' %}">Add Songs</a>
    </nav>
  </div>
</div>

    <div class="form-container">
        <h1>Fetch Song Lyrics</h1>
         <div class="notice">
            Important !
            <p>* Start to copy the lyrics from { to }</p>
         </div>
        <form method="GET">
            <input type="text" name="query" placeholder="Enter song name" required>
            <button type="submit">Get Lyrics</button>
        </form>

        {% if lyrics_json %}
            <h2>Lyrics JSON</h2>
            <textarea readonly onclick="this.select();">{{ lyrics_json }}</textarea>
        {% endif %}
    </div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.getElementById("hamburger");
    const navMenu = document.getElementById("navMenu");

    hamburger.addEventListener("click", () => {
        navMenu.classList.toggle("active");
    });
});
</script>
</body>
</html>
