<div class="music-player" data-total-pages="{{total_page}}">
    {% for item in page_obj %}
    <div class="cover">
        <img alt="Album Cover"
             src="{% if item.image %}{{ item.image.url | make_secure  }}{% else %}{% static 'images/default-cover.png' %}{% endif %}"/>
    </div>

    <div class="titre">
        <h3>{{item.artist}}</h3>
        <h1>{{item.title}}</h1>
    </div>

    <div class="navigation">
        <a href="javascript:void(0);" onclick="audio.playPrevious()">
            <i class="fa fa-step-backward fa-2x"></i>
        </a>
        <a href="javascript:void(0);" onclick="audio.playNext()">
            <i class="fa fa-step-forward fa-2x"></i>
        </a>
    </div>

    <div class="lecteur">
        <audio class="fc-media" style="width: 100%;" id="fc-media">
            <source src="{% if item.audio_file %}{{item.audio_file.url| make_secure }}{% else %}{{item.audio_link}}{% endif %}" type="audio/mp3"/>
        </audio>
    </div>
    {% endfor %}
</div>

<div class="right-section">
    <div class="lyrics-container">
        <div class="lyrics">
            <p id="song-lyrics" class="song-lyrics"
               data-lyrics="{% for item in page_obj %}{{item.lyrics|escape}}{% endfor %}">
            </p>
        </div>
        <div class="time-display">
            <span class="current-time">00:00</span>
            <span class="duration">00:00</span>
        </div>
    </div>
</div>

